<html>
  <head>
    <script type="text/javascript" src="jquery-1.2.6.js"></script>
    <script type="text/javascript" src="showrest.js"></script>
  </head>
  <body>
    <div id="html-container"></div>
    <hr>
    <div><pre id="sample-container">
XXX

\*fuu\* \`bar`

Spam spam spam spam spam spam, spam spam spam spam spam spam spam,
spam spam spam spam spam spam spam, spam spam spam spam spam spam spam,
spam spam spam spam spam spam spam, spam spam spam spam spam spam spam,
spam spam spam spam spam spam spam, spam spam spam spam spam spam spam.

And, 
spam spam spam spam spam spam spam, spam spam spam spam spam spam spam,
spam spam spam spam spam spam spam, spam spam spam spam spam spam spam,
spam spam spam spam spam spam spam, spam spam spam spam spam spam spam.

Spam spam spam spam *grail* *spanking* **virgins** and the **Castle
of Aaaaaaargh!** summa summarum *Sir John*.

The snakes on the plane, `parrot <http://www.perl.org>`__, and some
`spam`_ and maybe `foo quux`_.

Cheese [1] and spam [BLS]

.. _spam: http://www.spamhaus.org/
.. _foo quux: http://www.google.fi/
.. [1]: Off the mortal coil
.. [BLS]: Viking and Viking: The art of spam. Spam press (year of spam).

XXX
    </pre></div>
    <script>
      $().ready(function() {
        var converter = new showrest.converter();
        var text = $("#sample-container").text();
        var html = converter.makeHtml(text);
        $("#sample-container").text(converter.makeHtml(html));
        $("#html-container").html(html);
      });
    </script>
  </body>
</html>
